<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>825240140 FC Barcelona Fansite</title>

    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>

    <main>
        <section class="hero" style="background-image: url(images/campnou.webp);">
            <div class="overlay"></div>
            <div class="wrapper">
                <div class="hero-content">
                    <span class="subheading">Welcome to the Camp Nou</span>
                    <h1>Lebih Dari Sekedar Club.</h1>
                    <a href="#" class="play-button">
                        <i class="fas fa-play"></i>
                    </a>
                </div>
            </div>
        </section>

        <header class="main-header">
            <div class="wrapper">
                <a href="index.html" class="logo">
                    <img src="images/logo.png" alt="FC Barcelona Fansite" style="width: 40px; height: auto;">
                    <span>FC Barcelona</span>
                </a>
                <nav class="main-nav">
                    <ul>
                        <li><a href="index.html" class="active">Home</a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="players.html">Players</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>

            </div>
        </header>